body{
  background-image: url("images/logo.jpeg");
}
  
  .findus:hover{
      font-size:  20px;
      font-weight: bold;
      /* background-color white-space: nowrap; */
  }

  
  footer{
      background-color: magenta;
      margin-top: 110px;
  }
  form{
      margin-left: 930px;
      /* margin-bottom: 330px; */

  }
  #float> form{
      display: inline-block;
      text-align: center;
      line-height: 30px;
      margin-bottom: 400px;
      padding-top: 1500px;
  }
p> em{
    color: green;
    text-decoration: underline;
    }
    nav> ul{
        list-style: none;
        background-color: green;
    }
    nav> ul> li{
        box-sizing: 2px solid black;
    }

    h1{
        text-shadow: 2px 2px green;
        font-style: bold;
        font-weight: ;
        text-align: center;
        font-size: 25px;
        }